:root {
  --top-nav-height: 51px;
  --border-color: #dce6e9;
  --body-color: rgba(60,66,87,1);
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont,
    'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans', sans-serif,
    'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
  color: var(--body-color);
  margin: 0;
}

p {
  line-height: 1.5em;
}


h1 {
  font-size: 24pt;
  margin-top: var(--top-nav-height);
}

h2 {
  margin: 1.5em 0;
}

a {
  color: rgba(75, 85, 99, 1);
  
}
table .solid_border {
  border: 1px solid var(--border-color);
  border-collapse: collapse;
}

table, th, td {
  text-align: left;
}
th, td {
  padding: 10px
}

th {
  background-color: #cae2e2;
}
table {
  width: 100%;
}

.toc.x {
  font-size: 14pt;
  font-weight: bold;
}
.xx {
  font-size: 12pt;
  padding-left: 1rem;  
}
.xxx {
  font-size: 10pt;
  padding-left: 2rem;
}

div.toc {
  margin-bottom: 8px;
}
a.toc {
  text-decoration: none;
}

a.toc :global(a:hover) {
  text-decoration: underline;
}

div.active {
  background-color: #e7f7f7;
}

footer {
  font-size: 10pt;
  font-style: italic;
  text-align: center;
  margin-top: 25px;
}

.button {
  background-color: #04AA6D; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}